{
  "extends": ["standard", "plugin:react/recommended", "plugin:jsx-a11y/recommended", "prettier"],
  "plugins": ["standard", "node", "import", "promise", "react", "jsx-a11y", "prettier"],
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "rules": {
    "semi": ["error"],
    "quotes": ["error", "single"],
    "space-before-function-paren": ["error", "never"],
    "react/prop-types": ["off"],
    "jsx-a11y/click-events-have-key-events": ["off"],
    "jsx-a11y/no-noninteractive-element-interactions": ["off"]
  }
}
