@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('./Roboto-Black.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Custom Yu Gothic';
  src: local('Yu Gothic');
  font-weight: 300;
}

@font-face {
  font-family: 'Custom Yu Gothic';
  src: local('Yu Gothic');
  font-weight: 500;
}

@font-face {
  font-family: 'Custom Yu Gothic';
  src: local('Yu Gothic');
  font-weight: bold;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
a,
p,
img,
ul,
li,
label,
h1,
h2,
h3,
h4,
h5,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', '游ゴシック Medium', YuGothic, 'Custom Yu Gothic',
    'Yu Gothic', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo, sans-serif;
}

body {
  -webkit-overflow-scrolling: touch;
  background-color: #22222a;
  color: #fefeff;
  overflow-x: hidden;
}
